{% extends 'DefaultTestBundle::layout.html.twig' %}

{% block body %}
    <script type="text/javascript">
        $(function () {
            function addPrototype(name) {
                var prototype = $('#' + name + '_prototype').html();
                var holderId = 'task_' + name + 's';
                var holder = $('#' + holderId);
                var itemId = 'task_' + name + 's_';
                var index = holder
                        .find('[id^=' + itemId + ']')
                        .filter(function () {
                            var regexp = new RegExp('^' + itemId + '\\d+$');
                            return this.id.match(regexp);
                        })
                        .length;

                var delLink = $('<a href="#" class="del_task" id="del_task_' + name + 's_' + index + '">Delete tag</a>');
                delLink.click(function () {
                    var id = $(this).prop('id').replace('del_', '');
                    $('#' + id).remove();
                    $(this).remove();
                    holder.jsFormValidator('delPrototype', index);

                    return false;
                });
                prototype = prototype.replace(/__name__/g, index);
                holder.append(prototype);
                holder.append(delLink);
                holder.jsFormValidator('addPrototype', index);
            }

            $('#add_tag_link').click(function () {
                addPrototype('tag');

                return false;
            });

            $('#add_comment_link').click(function () {
                addPrototype('comment');

                return false;
            });
        })
    </script>

    <script type="text/template" id="tag_prototype">
        {{ form_widget(form.tags.vars.prototype) }}
    </script>
    <script type="text/template" id="comment_prototype">
        {{ form_widget(form.comments.vars.prototype) }}
    </script>

    <a href="#" id="add_tag_link">Add tag</a><br/>
    <a href="#" id="add_comment_link">Add comment</a>
    {{ form(form) }}
{% endblock %}