{% extends 'DefaultTestBundle::layout.html.twig' %}

{% block body %}
    <script type="text/javascript">
        $(function(){
            $('#customization_disabled').jsFormValidator({
                disabled: true
            });

            $('#customization_showErrors').jsFormValidator({
                showErrors: function(errors, type) {
                    var list = $(this).prev('ul.form-errors');
                    if (!list.length) {
                        list = $('<ul class="form-errors"></ul>');
                        $(this).before(list);
                    }
                    list.find('.' + type).remove();

                    for (var i in errors) {
                        var li = $('<li></li>', {
                            'class': type,
                            'text': 'custom_'+ errors[i]
                        });
                        list.append(li);
                    }
                }
            }).change(function(){
                $(this).jsFormValidator('validate');
            });

            $('form').jsFormValidator({
                groups: function () {
                    return ['groups_callback'];
                },
                onValidate: function(errors, event) {
                    var arrErrors = [];
                    for (var elId in errors) {
                        for (var sourceId in errors[elId]) {
                            var _err = errors[elId][sourceId];
                            if ('customization_showErrors' == elId) {
                                for (var i in _err) {
                                    _err[i] = 'custom_'+ errors[elId][sourceId][i];
                                }
                            }
                            arrErrors = arrErrors.concat(_err);
                        }
                    }
                    $('#on_validate_msg_container').text(arrErrors.join(', '));
                },
                callbacks: {
                    'isPasswordLegal': function() {
                        return false;
                    },
                    'validateCallback': function() {
                        $('#customization_email').jsFormValidator('showErrors', {
                            errors: ['validate_callback_email_custom'],
                            sourceId: 'validate-callback'
                        });
                    },
                    'ownCallback': function() {
                        $('#customization_email').jsFormValidator('showErrors', {
                            errors: ['own_callback_email_custom'],
                            sourceId: 'validate-callback-own'
                        });
                    },
                    'Fp\\JsFormValidatorBundle\\Tests\\TestBundles\\DefaultTestBundle\\Validator\\ExternalValidator': {
                        validateStaticCallback: function () {
                            $('#customization_email').jsFormValidator('showErrors', {
                                errors: ['static_callback_email_custom'],
                                sourceId: 'static-validate-callback'
                            });
                        }
                    },
                    'validateDirectStaticCallback': function() {
                        $('#customization_email').jsFormValidator('showErrors', {
                            errors: ['direct_static_callback_email_custom'],
                            sourceId: 'direct-static-validate-callback'
                        });
                    },
                    'isValidChoicesList': function () {
                        return 'September';
                    },
                    'getChoicesList': function () {
                        return ['June', 'July', 'August'];
                    }
                }
            });
        })
    </script>

    <div id="on_validate_msg_container"></div>
    {{ form(form) }}
{% endblock %}