<!DOCTYPE html>
<html>
<head>
    <title>Test: FpJsFormValidator</title>
    {% block jquery %}
        {% javascripts '@DefaultTestBundle/Resources/public/js/jquery-1.9.1.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

    {% block init_validation %}
        {{ include('FpJsFormValidatorBundle::javascripts-dev.html.twig') }}
    {% endblock init_validation %}
    <style type="text/css">
        .form-errors li {
            color: red;
        }
    </style>
</head>
<body>
{% block extra_msg %}<div id="extra_msg">{{ extraMsg|default('') }}</div>{% endblock %}
{% block body %}{% endblock %}
</body>
</html>

